<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-12" style="margin-top: 20px">
      <mat-card style="margin: 50px 0">

        <form class="form-register" #f="ngForm" (ngSubmit)="f.form.valid&&ngSubmit()" novalidate>
                        <h2>Sign up</h2>
          <p class="lead">Already have an account? <a routerLink="/login"> Login now</a></p>
          <mat-error *ngIf="status != 'success'" >{{status}}</mat-error>
          <mat-form-field style="width: 500px" appearance="outline">
            <mat-label>Name</mat-label>
            <input name="name" matInput placeholder="Placeholder" [(ngModel)]="form.name" #name="ngModel" required minlength="6" maxlength="20">
            <mat-error *ngIf="name.hasError('required')"> The name is required!</mat-error>
            <mat-error *ngIf="name.hasError('minlength')"> The name must more than 6 character!</mat-error>
          </mat-form-field>
             <br>
          <mat-form-field style="width: 500px" appearance="outline">
            <mat-label>Username</mat-label>
            <input name="username" matInput placeholder="Placeholder" [(ngModel)]="form.username" #username="ngModel" required
            minlength="3" maxlength="20">
            <mat-error *ngIf="username.hasError('required')"> The name is required!</mat-error>
            <mat-error *ngIf="username.hasError('minlength')"> The name must more than 3 character!</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field style="width: 500px" appearance="outline">
            <mat-label>Email</mat-label>
            <input name="email" matInput placeholder="Placeholder" [(ngModel)]="form.email" [formControl]="emailFormControl" required>
            <mat-error *ngIf="emailFormControl.hasError('required')"> The email is required!</mat-error>
            <mat-error *ngIf="emailFormControl.hasError('email')">Email not invalid! ex: laingocson007@gmail.com</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field style="width: 500px" appearance="outline">
            <mat-label>Enter your password</mat-label>
            <input name="password" [(ngModel)]="form.password" #password ="ngModel" matInput [type]="hide ? 'password' : 'text'" minlength="6" maxlength="20" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon color="accent" >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="password.hasError('required')"> The password is required!</mat-error>
            <mat-error *ngIf="password.hasError('minlength')"> The name must more than 6 character!</mat-error>
          </mat-form-field>
           <br>

          <div>
            <div class="mb-4 d-flex justify-content-center">
              <img *ngIf="!urlFile" src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg"
                   alt="example placeholder" style="width: 300px;" />
              <img *ngIf="urlFile" src="{{urlFile}}"
                   alt="example placeholder" style="width: 300px;" />
            </div>
            <div class="d-flex justify-content-center">
              <div class="btn btn-primary btn-rounded">
                <label class="form-label text-white m-1" for="customFile1">Choose file</label>
                <input (change)="onChangeFile($event)" type="file" class="form-control d-none" id="customFile1" />
              </div>
            </div>
          </div>

          <br>
          <p class="lead" *ngIf="status ==='success'">Create account success!  <a routerLink="/home">Go Home</a></p>
          <br>
          <button style="margin-bottom: 20px" mat-raised-button color="primary">Sign up</button>
        </form>
      </mat-card>

    </div>

  </div>
</div>


<app-footer></app-footer>
