<div>
  <div class="row"  >
    <div class="col-9">
      <h1 style="margin-top: 5px">Danh sách sản phẩm</h1>
    </div>
    <div class="col-3">
      <button mat-raised-button color="primary" style="margin-top: 7px" (click)="openModal()">Thêm sản phẩm</button>
    </div>
  </div>
  <mat-card style="margin: 30px">
    <div class="row" >
      <div class="col-4" [formGroup]="searchGroup" >
        <mat-form-field appearance="fill">
          <mat-label>Tên sản phẩm</mat-label>
          <input matInput formControlName = searchTerm >
        </mat-form-field>
      </div>
      <div class="col-4" [formGroup]="filterGroup">
        <label>Giá tiền sản phẩm</label>
        <mat-slider [discrete]="true" min="0" max="500" [showTickMarks]="true"
                    [step]="50" style="width: 80%; margin-top: -10px; margin-right: 10px"  >
          <input value="0" matSliderStartThumb  formControlName = costMin>
          <input value="100"  matSliderEndThumb   formControlName = costMax>
        </mat-slider>
      </div>
      <div class="col-4" [formGroup]="filterGroup">
        <label>Số lượng sản phẩm</label>
        <mat-slider [discrete]="true" min="0" max="500" [showTickMarks]="true"
                    [step]="50" style="width: 80%; margin-top: -10px; margin-right: 10px"  >
          <input value="0"  matSliderStartThumb formControlName = quantityMin >
          <input value="100"  matSliderEndThumb formControlName = quantityMax >
        </mat-slider>
      </div>
    </div>
  </mat-card>
  <mat-card style="margin: 30px">
    <table class="table table-striped table-hover" >
      <thead>
      <tr>
        <th></th>
        <th>STT</th>
        <th>tên sản phẩm</th>
        <th>giá tiền</th>
        <th>số lượng</th>
        <th>mô tả ngắn</th>
        <th>ngày tạo</th>
        <th>ngày cập nhật</th>
        <th>hành động</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor=" let item of dataTable| paginate : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                } ; index as i" [class.active]="i == currentIndex">
        <td>

          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Chi tiết sản phẩm</button>
          </mat-menu>

        </td>
        <td>{{i+1}}</td>
        <td>{{item.productName}}</td>
        <td>{{item.cost}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.shortDescription}}</td>
        <td>{{item.createdDate | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
        <td>{{item.updatedDate | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
        <td><button  mat-raised-button color="primary" style="margin-right: 2px"><mat-icon>edit</mat-icon>Sửa</button>
          <button mat-raised-button color="warn" ><mat-icon>delete</mat-icon>Xóa</button></td>
      </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation example" style="text-align: center">
      <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        [responsive]="true"
        (pageChange)="handlePageChange($event)"
      ></pagination-controls>
    </nav>
  </mat-card>
</div>

