<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel" style="color: black">Xóa danh mục sản phẩm</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>
<div class="modal-body">
  Bạn có chắc muốn xóa <strong style="color: red">{{name}}</strong> không ?
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
    Close
  </button>
  <button type="button" class="btn btn-warning" (click)="Delete()">Delete</button>
</div>
